:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

mwc-top-app-bar {
  --mdc-theme-primary: var(--ancillapp-top-app-bar-color);

  [slot='navigationIcon'] {
    color: inherit;
  }

  [slot='title'] {
    display: flex;
    align-items: center;
    font-family: var(--ancillapp-display-font);
    font-style: italic;

    svg {
      height: 36px;
      padding: 0 10px 12px 0;
      fill: #fff;
    }
  }
}

mwc-drawer {
  --mdc-theme-surface: var(--ancillapp-drawer-color);

  .menu {
    display: flex;
    flex-direction: column;
    height: 100%;

    > .top-nav {
      overflow-y: auto;
      flex: 1 1 100%;
    }

    > .bottom-nav {
      flex: 0 0 auto;
    }
  }

  [slot='appContent'] {
    height: 100%;
    --mdc-theme-surface: var(--ancillapp-card-color);
  }
}

.nav-link {
  &,
  &:hover,
  &:active {
    text-decoration: none;
  }
}

mwc-list-item {
  color: var(--mdc-theme-on-surface);

  svg {
    fill: var(--mdc-theme-text-disabled-on-background);
  }

  &[activated] {
    color: var(--ancillapp-activated-list-color);
    font-weight: bold;

    svg {
      fill: var(--ancillapp-activated-list-color);
    }
  }
}

li[divider] {
  border-bottom-color: var(--ancillapp-divider-color);
}

main {
  padding: 1.5rem;
  width: 100%;
  min-height: calc(100% - 56px);
  background: var(--ancillapp-background-color);

  @media (min-width: 600px) {
    min-height: calc(100% - 64px);
  }
}

snack-bar mwc-button {
  --mdc-theme-primary: var(--ancillapp-secondary-text-color);

  &:last-child {
    --mdc-theme-primary: var(--ancillapp-accent-color);
  }
}
