:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  // Needed by Material Design Components
  --mdc-theme-primary: var(--ancillapp-primary-color);
  --mdc-theme-secondary: var(--ancillapp-accent-color);
  --mdc-theme-surface: var(--ancillapp-card-color);
  --mdc-theme-background: var(--ancillapp-background-color);
  --mdc-typography-font-family: var(--ancillapp-text-font);
  --mdc-theme-on-surface: var(--ancillapp-primary-text-color);
  --mdc-theme-text-disabled-on-background: var(--ancillapp-disabled-text-color);

  --mdc-text-field-outlined-idle-border-color: var(
    --ancillapp-disabled-text-color
  );
  --mdc-text-field-outlined-hover-border-color: var(
    --ancillapp-primary-text-color
  );
  --mdc-text-field-ink-color: var(--ancillapp-primary-text-color);
  --mdc-text-field-label-ink-color: var(--ancillapp-secondary-text-color);

  // Constants
  --ancillapp-text-font: 'Rosario', 'Roboto', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --ancillapp-display-font: 'Humana Serif', 'Times New Roman', serif;

  // Variables (different for each theme)
  --ancillapp-primary-color: #567791;
  --ancillapp-top-app-bar-color: var(--ancillapp-primary-color);
  --ancillapp-activated-list-color: var(--ancillapp-primary-color);
  --ancillapp-accent-color: #d50000;
  --ancillapp-background-color: #fafafa;
  --ancillapp-drawer-color: #fff;
  --ancillapp-card-color: #fff;
  --ancillapp-primary-text-color: rgba(0, 0, 0, 0.87);
  --ancillapp-secondary-text-color: rgba(0, 0, 0, 0.6);
  --ancillapp-disabled-text-color: rgba(0, 0, 0, 0.38);
  --ancillapp-divider-color: rgba(0, 0, 0, 0.12);
  --ancillapp-text-on-accent-color: #fff;
  --ancillapp-error-text-color: #b00020;
}

:host([theme='dark']) {
  --ancillapp-top-app-bar-color: var(--ancillapp-card-color);
  --ancillapp-activated-list-color: var(--ancillapp-primary-text-color);
  --ancillapp-accent-color: #ff8f82;
  --ancillapp-background-color: #303030;
  --ancillapp-drawer-color: #212121;
  --ancillapp-card-color: #424242;
  --ancillapp-primary-text-color: #fff;
  --ancillapp-secondary-text-color: rgba(255, 255, 255, 0.7);
  --ancillapp-disabled-text-color: rgba(255, 255, 255, 0.5);
  --ancillapp-divider-color: rgba(255, 255, 255, 0.12);
}

@media (prefers-color-scheme: dark) {
  :host([theme='system']) {
    --ancillapp-top-app-bar-color: var(--ancillapp-card-color);
    --ancillapp-activated-list-color: var(--ancillapp-primary-text-color);
    --ancillapp-accent-color: #ff8f82;
    --ancillapp-background-color: #303030;
    --ancillapp-drawer-color: #212121;
    --ancillapp-card-color: #424242;
    --ancillapp-primary-text-color: #fff;
    --ancillapp-secondary-text-color: rgba(255, 255, 255, 0.7);
    --ancillapp-disabled-text-color: rgba(255, 255, 255, 0.5);
    --ancillapp-divider-color: rgba(255, 255, 255, 0.12);
  }
}

mwc-top-app-bar {
  --mdc-theme-primary: var(--ancillapp-top-app-bar-color);

  [slot='title'] {
    display: flex;
    align-items: center;
    font-family: var(--ancillapp-display-font);
    font-style: italic;

    svg {
      height: 36px;
      padding: 0 10px 12px 0;
      fill: #fff;
    }
  }
}

mwc-drawer {
  --mdc-theme-surface: var(--ancillapp-drawer-color);

  .menu {
    display: flex;
    flex-direction: column;
    height: 100%;

    > .top-nav {
      overflow-y: auto;
      flex: 1 1 100%;
    }

    > .bottom-nav {
      flex: 0 0 auto;
    }
  }

  [slot='appContent'] {
    height: 100%;
    --mdc-theme-surface: var(--ancillapp-card-color);
  }
}

.nav-link {
  &,
  &:hover,
  &:active {
    text-decoration: none;
  }
}

mwc-list-item {
  color: var(--mdc-theme-on-surface);

  svg {
    fill: var(--mdc-theme-text-disabled-on-background);
  }

  &[activated] {
    color: var(--ancillapp-activated-list-color);
    font-weight: bold;

    svg {
      fill: var(--ancillapp-activated-list-color);
    }
  }
}

li[divider] {
  border-bottom-color: var(--ancillapp-divider-color);
}

main {
  padding: 1.5rem;
  width: 100%;
  min-height: calc(100% - 56px);
  background: var(--ancillapp-background-color);

  @media (min-width: 600px) {
    min-height: calc(100% - 64px);
  }
}

snack-bar mwc-button {
  --mdc-theme-primary: var(--ancillapp-secondary-text-color);

  &:last-child {
    --mdc-theme-primary: var(--ancillapp-accent-color);
  }
}
