MONGODB_URI="<mongodb-uri>"
MONGODB_NAME="<mongodb-name>"
WEB_PUSH_SUBJECT="<webpush-subject>"
WEB_PUSH_PUBLIC_KEY="<webpush-public-key>"
WEB_PUSH_PRIVATE_KEY="<webpush-private-key>"
ANCILLAS_BUCKET="<ancillas-bucket>"
