section {
  padding: 1rem 2rem;

  > div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 0.875rem 0 0;

    @media (min-width: 28.75rem) {
      flex-direction: row;
      align-items: center;
    }

    ::slotted(mwc-button),
    ::slotted(loading-button),
    ::slotted(mdui-button) {
      --mdc-theme-primary: var(--ancillapp-secondary-text-color);
      --mdui-color-primary: var(--mdui-color-on-primary-container);
    }

    ::slotted(mwc-button:last-child),
    ::slotted(loading-button:last-child),
    ::slotted(mdui-button:last-child) {
      --mdc-theme-primary: var(--ancillapp-accent-color);
      --mdui-color-primary: var(--mdui-color-on-primary-container);
      font-weight: 700;
    }
  }
}
