h2 {
  text-align: center;
  font-style: italic;
}

ul {
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  li {
    list-style: none;
    background: var(--ancillapp-background-color);
    box-shadow: 0 0.06rem 0.065rem 0 rgba(0, 0, 0, 0.14),
      0 0.003rem 0.15rem 0 rgba(0, 0, 0, 0.12),
      0 0.09rem 0.0035rem -0.065rem rgba(0, 0, 0, 0.2);
    will-change: box-shadow, transform;
    transition: 0.3s box-shadow, 0.3s transform;
    width: 14rem;
    margin: 0.5rem;
    border-radius: 0.5rem;

    span {
      flex: 1 1 auto;
      font-size: 1rem;
      margin-right: 1rem;
      color: var(--ancillapp-primary-text-color);
    }

    svg {
      width: 2rem;
      height: 2rem;
      will-change: transform;
      transition: 0.3s transform;
      flex: 0 0 auto;
      fill: var(--ancillapp-accent-color);
    }

    a {
      padding: 1rem;
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
    }

    &:hover,
    &:active {
      transform: translateY(-0.2rem);
      box-shadow: 0 0.24rem 0.26rem 0 rgba(0, 0, 0, 0.14),
        0 0.012rem 0.6rem 0 rgba(0, 0, 0, 0.12),
        0 0.36rem 0.014rem -0.26rem rgba(0, 0, 0, 0.2);

      a {
        text-decoration: none;
      }

      svg {
        transform: rotateZ(15deg);
      }
    }
  }
}
