runtime: nodejs8
env_variables:
  PORT: 8080
  MONGO_URI: 'mongodb://user:pass@server:port'
  MONGO_DB: 'db'
  CORS_WHITELIST: '["https://my-domain.example.com"]'
  GOOGLE_CLOUD_PROJECT: 'project-on-gcloud'
  CLOUD_STORAGE_BUCKET: 'bucket-on-gcloud'
handlers:
  - url: /.*
    secure: always
    redirect_http_response_code: 301
    script: auto
