*,
*::before,
*::after {
  box-sizing: border-box;
}

:host {
  display: block;
  box-sizing: border-box;
}

.page {
  display: none;
  flex: 1;
  max-width: 100vw;

  &[active] {
    display: flex;
  }

  &.padded {
    padding: 1.5rem;
  }
}

[hidden] {
  display: none !important;
}

section {
  padding: 1rem 1.5rem;
  background: var(--ancillapp-card-color);
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
  border-radius: 0.5rem;
  color: var(--ancillapp-primary-text-color);
  box-shadow: 0 0.06rem 0.065rem 0 rgba(0, 0, 0, 0.14),
    0 0.003rem 0.15rem 0 rgba(0, 0, 0, 0.12),
    0 0.09rem 0.0035rem -0.065rem rgba(0, 0, 0, 0.2);

  @media (min-width: 28.75rem) {
    padding: 2rem 3rem;
  }
}

blockquote {
  border: 0.02rem solid var(--ancillapp-divider-color);
  border-left: 0.2rem solid var(--ancillapp-primary-color);
  margin: 0.25rem 0 0.75rem 0;
  padding: 1rem 2rem;
  text-align: justify;
  background: var(--ancillapp-background-color);
  border-radius: 0 0.5rem 0.5rem 0;

  > footer {
    text-align: right;
    font-style: italic;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--ancillapp-primary-text-color);
  margin: 1.2rem 0 0.6rem 0;
  font-family: var(--ancillapp-display-font);
}

h3 {
  margin: 1rem 0 0.5rem 0;
}

p {
  text-align: justify;
  margin: 0.75rem 0;
}

hr {
  width: calc(100% - 1rem);
  border: 0;
  padding: 0.025rem;
  margin: 0.5rem;
  background-color: var(--ancillapp-divider-color);
}

a {
  text-decoration: none;
  color: var(--ancillapp-accent-color);

  &:hover,
  &:active {
    text-decoration: underline;
  }
}

.responsive-table {
  width: 100%;
  overflow-x: auto;
  box-shadow: 0 0.06rem 0.065rem 0 rgba(0, 0, 0, 0.14),
    0 0.003rem 0.15rem 0 rgba(0, 0, 0, 0.12),
    0 0.09rem 0.0035rem -0.065rem rgba(0, 0, 0, 0.2);
}

table {
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border: none;
  margin: 0;
}

td,
th {
  border: 0.05rem solid var(--ancillapp-divider-color);
}

th {
  padding: 0.75rem 1rem;
}

td {
  padding: 0.25rem 0.75rem;

  &.right {
    text-align: right;
  }

  &.center {
    text-align: center;
  }
}

// TODO: decide whether we need to remove these styles or not
// input,
// textarea {
//   resize: none;
//   border-radius: 0.5rem;
//   display: block;
//   background: var(--ancillapp-background-color);
//   color: var(--ancillapp-primary-text-color);
//   border: 0.025rem solid var(--ancillapp-divider-color);
//   box-shadow: 0 0.06rem 0.065rem 0 rgba(0, 0, 0, 0.14) inset,
//     0 0.003rem 0.15rem 0 rgba(0, 0, 0, 0.12) inset,
//     0 0.09rem 0.0035rem -0.065rem rgba(0, 0, 0, 0.2) inset;
//   font-size: 0.75rem;
//   margin: 0.5rem 0;
//   padding: 0.4rem;

//   &:focus {
//     outline: none;
//   }
// }

form > * {
  width: 100%;
}

mwc-dialog {
  --mdc-dialog-heading-ink-color: var(--ancillapp-primary-text-color);
  --mdc-dialog-content-ink-color: var(--ancillapp-primary-text-color);
  --mdc-dialog-scroll-divider-color: var(--ancillapp-divider-color);

  mwc-button,
  loading-button {
    --mdc-theme-primary: var(--ancillapp-secondary-text-color);

    &:last-child,
    &:last-child {
      --mdc-theme-primary: var(--ancillapp-accent-color);
    }
  }
}

ul.settings {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.875rem;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    > outlined-select,
    > date-input {
      width: 12.5rem;
    }

    > mwc-formfield {
      width: 100%;
      cursor: pointer;
    }
  }
}

top-app-bar {
  [slot='leadingIcon'] {
    color: inherit;
  }

  &.search-mode {
    --ancillapp-top-app-bar-background: var(--ancillapp-search-bar-color);
    --ancillapp-top-app-bar-color: var(--ancillapp-primary-text-color);
  }
}
