:host {
  @media (min-width: 28.75rem) {
    padding: 1.5rem;
  }
}

.chord-sheet {
  font-size: 1.25rem;
  text-align: left;
  margin: 1.25rem 0;

  strong,
  .comment,
  .chord {
    color: var(--ancillapp-accent-color);
    font-weight: bold;
  }

  &.without-chords .chord {
    display: none;
  }

  .chord:not(:last-child) {
    padding-right: 10px;
  }

  .paragraph {
    margin-bottom: 1em;
  }

  .row {
    display: flex;
    // If there isn't enough space for the entire row to be shown,
    // make sure the text wraps properly
    flex-wrap: wrap;
  }

  .lyrics {
    // Some lyrics columns might be longer than the screen, so we need to enable wrapping
    white-space: wrap;
  }

  .chord:after,
  .lyrics:after {
    content: '\\200b';
  }

  .chorus,
  .intro,
  .ending {
    font-weight: bold;
  }

  .bridge,
  .intro,
  .ending {
    font-style: italic;
  }
}

.loading-container,
.error-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
