.ancillas-container {
  display: flex;
  justify-content: center;
}

.ancilla {
  border-radius: .5rem;
  box-shadow: 0 0.06rem 0.065rem 0 rgba(0, 0, 0, 0.14), 0 0.003rem 0.15rem 0 rgba(0, 0, 0, 0.12), 0 0.09rem 0.0035rem -0.065rem rgba(0, 0, 0, 0.2);
  text-align: center;

  &:hover, &:active {
    text-decoration: none;
  }

  div {
    width: 8.5rem;
    height: 12rem;
    background: var(--card-color) no-repeat center;
    background-size: cover;
  }
}
