:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

mwc-drawer {
  --mdc-theme-surface: var(--ancillapp-drawer-color);
  --mdc-drawer-width: var(--ancillapp-drawer-width);

  .menu {
    display: flex;
    flex-direction: column;
    height: 100%;

    > .top-nav {
      overflow-y: auto;
      flex: 1 1 100%;
    }

    > .bottom-nav {
      flex: 0 0 auto;
    }
  }

  [slot='title'] {
    margin-top: 1.6px;
    font-family: var(--ancillapp-display-font);
    font-size: 20.8px;
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 56px;
    padding: 8px;

    svg {
      height: 36px;
      padding-bottom: 12px;
      fill: #fff;
      margin-right: 16px;
    }

    @media (min-width: 600px) {
      height: 64px;
    }
  }

  [slot='appContent'] {
    height: 100%;
    --mdc-theme-surface: var(--ancillapp-card-color);
  }
}

.nav-link {
  &,
  &:hover,
  &:active {
    text-decoration: none;
  }
}

mwc-list-item {
  height: 50px;
  margin-right: 10px;
  border-radius: 0 25px 25px 0;
  color: var(--mdc-theme-on-surface);
  font-size: 14px;

  svg {
    fill: var(--mdc-theme-text-disabled-on-background);
  }

  &[activated] {
    color: var(--ancillapp-activated-list-color);
    font-weight: bold;

    svg {
      fill: var(--ancillapp-activated-list-color);
    }
  }
}

li[divider] {
  border-bottom-color: var(--ancillapp-divider-color);
}

main {
  width: 100%;
  min-height: 100%;
  padding-top: 56px;
  background: var(--ancillapp-background-color);
  display: flex;

  @media (min-width: 600px) {
    padding-top: 64px;
  }
}
