:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#app-content {
  margin-left: var(--ancillapp-rail-width, 0rem);
  width: calc(100% - var(--ancillapp-rail-width, 0rem));
  transition:
    margin-left var(--mdui-motion-duration-short4)
      var(--mdui-motion-easing-standard),
    width var(--mdui-motion-duration-short4) var(--mdui-motion-easing-standard);
}

.navigation-rail-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  > mdui-button-icon {
    margin-left: 0.5rem;
  }
}

.navigation-drawer-header {
  font-family: var(--ancillapp-display-font);
  font-size: 20.8px;
  color: var(--ancillapp-primary-text-color);
  width: 100%;
  height: var(--ancillapp-top-bar-height);
  padding-left: 26px;

  @media (min-width: 600px) {
    // TODO: discover why this line is needed
    transform: translateY(-4px);
    padding-left: 7.5px;
  }

  &,
  & > .navigation-drawer-title {
    display: inline-flex;
    align-items: center;
  }

  & > .navigation-drawer-title {
    flex: 1;

    > svg {
      height: 30px;
      padding-bottom: 6px;
      fill: currentColor;
      margin-right: 16px;
    }

    > span {
      padding-top: 6px;
    }
  }

  > mdui-button-icon {
    margin-right: 16px;
  }
}

.navigation-drawer-content {
  height: calc(100% - var(--ancillapp-top-bar-height));
  display: flex;
  flex-direction: column;

  & > mdui-list:first-child {
    flex: 1;
  }
}

:host([drawer-shrinked]) {
  @media (min-width: 600px) {
    mwc-drawer {
      --mdc-drawer-width: var(--ancillapp-mini-drawer-width);

      mwc-list-item {
        margin: 0 7px;
        padding-left: 12.5px;
        border-radius: 25px;
        width: 50px;
      }
    }
  }
}

mwc-drawer {
  --mdc-theme-surface: var(--ancillapp-drawer-color);
  --mdc-drawer-width: var(--ancillapp-drawer-width);

  .menu {
    display: flex;
    flex-direction: column;
    height: 100%;

    > .top-nav {
      overflow-y: auto;
      flex: 1 1 100%;
    }

    > .bottom-nav {
      flex: 0 0 auto;
    }
  }

  [slot='title'] {
    font-size: 20.8px;
    color: var(--ancillapp-primary-text-color);
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: var(--ancillapp-top-bar-height);
    padding-left: 26px;
    margin-left: -16px;

    @media (min-width: 600px) {
      // TODO: discover why this line is needed
      transform: translateY(-4px);
      padding-left: 7.5px;
    }

    > mwc-icon-button {
      margin-right: 16px;
    }

    > svg {
      height: 30px;
      padding-bottom: 6px;
      fill: currentColor;
      margin-right: 16px;
    }

    span {
      padding-top: 6px;
    }
  }

  [slot='appContent'] {
    height: 100%;
    --mdc-theme-surface: var(--ancillapp-card-color);
  }
}

.nav-link {
  &,
  &:hover,
  &:active {
    text-decoration: none;
  }
}

mwc-list-item {
  height: 50px;
  margin-right: 10px;
  border-radius: 0 25px 25px 0;
  padding-left: 19.5px;
  color: var(--mdc-theme-on-surface);
  font-size: 14px;

  svg {
    fill: var(--mdc-theme-text-disabled-on-background);
  }

  &[activated] {
    color: var(--ancillapp-activated-list-color);
    font-weight: bold;

    svg {
      fill: var(--ancillapp-activated-list-color);
    }
  }
}

main {
  width: 100%;
  min-height: 100%;
  overflow-y: auto;
  padding-top: var(--ancillapp-top-bar-height);
  background: rgb(var(--mdui-color-background));
  display: flex;
}
