:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

mwc-drawer {
  --mdc-theme-surface: var(--ancillapp-drawer-color);

  .menu {
    display: flex;
    flex-direction: column;
    height: 100%;

    > .top-nav {
      overflow-y: auto;
      flex: 1 1 100%;
    }

    > .bottom-nav {
      flex: 0 0 auto;
    }
  }

  [slot='appContent'] {
    height: 100%;
    --mdc-theme-surface: var(--ancillapp-card-color);
  }
}

.nav-link {
  &,
  &:hover,
  &:active {
    text-decoration: none;
  }
}

mwc-list-item {
  height: 3rem;
  margin-right: 0.5rem;
  border-radius: 0 1.5rem 1.5rem 0;
  color: var(--mdc-theme-on-surface);
  font-size: 0.875rem;

  svg {
    fill: var(--mdc-theme-text-disabled-on-background);
  }

  &[activated] {
    color: var(--ancillapp-activated-list-color);
    font-weight: bold;

    svg {
      fill: var(--ancillapp-activated-list-color);
    }
  }
}

li[divider] {
  border-bottom-color: var(--ancillapp-divider-color);
}

main {
  width: 100%;
  min-height: 100%;
  padding-top: 56px;
  background: var(--ancillapp-background-color);
  display: flex;

  @media (min-width: 600px) {
    padding-top: 64px;
  }
}
