share-menu {
  --background-color: var(--ancillapp-card-color);
  --title-color: var(--ancillapp-primary-text-color);
  --labels-color: var(--ancillapp-primary-text-color);
  --hint-color: var(--ancillapp-secondary-text-color);
  --handle-color: var(--ancillapp-secondary-text-color);
  --divider-color: var(--ancillapp-divider-color);
}
