:host {
  flex-direction: column;
}

unobtrusive-notification {
  margin: 2rem 2rem 0;
}

.loading-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prayers-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
}

.prayer {
  width: 20rem;
  height: 8rem;
  background: var(--ancillapp-card-color);
  border-radius: 0.5rem;
  box-shadow: 0 0.06rem 0.065rem 0 rgba(0, 0, 0, 0.14),
    0 0.003rem 0.15rem 0 rgba(0, 0, 0, 0.12),
    0 0.09rem 0.0035rem -0.065rem rgba(0, 0, 0, 0.2);
  margin: 0.5rem;
  will-change: transform;
  transition: 0.3s transform;
  position: relative;
  overflow: hidden;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  // TODO: switch these when images get added
  justify-content: flex-start;
  // justify-content: flex-end;

  > .image {
    // TODO: remove this when images get added
    display: none;
    fill: var(--ancillapp-divider-color);
    position: absolute;
    top: -1rem;
    left: -1rem;
    width: 10rem;
    height: 10rem;
    pointer-events: none;
    opacity: 0.75;
    z-index: -1;

    > svg {
      height: 100%;
    }
  }

  > .title {
    font-size: 1.25rem;
    // TODO: switch these when images get added
    text-align: left;
    // text-align: right;
  }

  &:hover,
  &:active {
    transform: scale(1.025);
    text-decoration: none;
  }

  @media (min-width: 28.75rem) {
    margin: 1rem;
  }
}
